.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate.paging_custom_box {
    color:#54657e;
    font-size:15px;
}
.dataTables_wrapper .dataTables_info {
    padding-top:5px;
}
.dataTables_wrapper .dataTables_filter label {
    font-weight:500;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box>span {
    display:inline-block;
    vertical-align:middle;
}
.dataTables_wrapper .dataTables_filter .form-control,
.dataTables_wrapper .dataTables_paginate.paging_custom_box .form-control {
    height:34px;
    margin:0 12px;
    font-size:18px;
    font-weight:500;
    padding-left:5px;
    padding-right:5px;
    display:inline-block;
    vertical-align:middle;
    border:1px solid #cad3df;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    -ms-box-shadow:none !important;
    -o-box-shadow:none !important;
}
.dataTables_wrapper .dataTables_filter .form-control {
    padding-left:10px;
    padding-right:10px;
}
.dataTables_wrapper .dataTables_filter select.form-control,
.dataTables_wrapper .dataTables_paginate.paging_custom_box select.form-control {
    padding:0 5px;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .selectBox.form-control {
    color:#54657e;
    padding:1px 7px;
    text-align:initial;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .selectBox.form-control .selectBox-label {
    width:78% !important;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .selectBox.form-control .selectBox-arrow {
    opacity:1;
    width:26px;
    background-color:transparent;
    background-image:url( '../images/account/dropdown-arrow-icon.png' );
}
.dataTables_wrapper .dataTables_filter .form-control:focus,
.dataTables_wrapper .dataTables_filter .form-control:active,
.dataTables_wrapper .dataTables_paginate.paging_custom_box .form-control:focus,
.dataTables_wrapper .dataTables_paginate.paging_custom_box .form-control:active {
    background-color:#eceff4;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-input {
    width:50px;
    text-align:center;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-rows-count {
    width:65px;
    text-align:center;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .btn {
    height:34px;
    outline:none;
    border:1px solid #cad3df;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    -ms-box-shadow:none !important;
    -o-box-shadow:none !important;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .btn:hover
.dataTables_wrapper .dataTables_paginate.paging_custom_box .btn:focus,
.dataTables_wrapper .dataTables_paginate.paging_custom_box .btn:active {
    background-color:#eceff4;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-nav-group {
    margin-left:10px;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-nav-group .paging-nav {
    width:40px;
    text-indent:-10000px;
    background-repeat:no-repeat;
    background-position:center center;
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-nav-group .paging-nav.nav-left {
    background-image:url( '../images/account/paging-nav-left-icon.png' );
}
.dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-nav-group .paging-nav.nav-right {
    background-image:url( '../images/account/paging-nav-right-icon.png' );
}


@media only screen and (max-width:991px) {

    .dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-goto,
    .dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-input {
        display:none;
    }
}

@media only screen and (max-width:767px) {

    .dataTables_wrapper .dataTables_paginate.paging_custom_box {
        padding-top:15px;
    }
    .dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-goto,
    .dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-input {
        display:inline-block;
    }
}

@media only screen and (max-width:499px) {

    .dataTables_wrapper .dataTables_paginate.paging_custom_box {
        text-align:center;
    }
    .dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-goto,
    .dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-rows,
    .dataTables_wrapper .dataTables_paginate.paging_custom_box .paging-input {
        display:none;
    }
}
