.date-picker-wrapper {
    background:#FFF;
}
.no-picker-close .date-picker-wrapper .drp_top-bar {
    padding-right:0;
}

.date-picker-wrapper .month-wrapper .gap {
    opacity:0;
}
.date-picker-wrapper .month-wrapper table tr.caption {
    color:#1476b7;
}


@media only screen and (min-width:992px) {

    .picker-container .date-picker-wrapper {
        right:0;
        left:initial !important;
    }
}

@media only screen and (max-width:599px) {

    .date-picker-wrapper .month-wrapper {
        width:auto !important;
    }
    .date-picker-wrapper .month-wrapper table,
    .date-picker-wrapper .month-wrapper table.month2 {
        width:220px;
        float:none !important;
    }
    .date-picker-wrapper .month-wrapper .time {
        display:none !important;
    }

    .date-picker-wrapper .month-wrapper .gap {
        display:none;
    }
}